{# init some local variables #}
{% set can_manage = false %}
{% if not match.winner %}
  {% if CURRENT_PLAYER.CAN.MANAGE_OWN_MATCH %}
    {% for player in match.players.team1 %}
      {% if player.user_id == CURRENT_PLAYER.ID %}
        {% set can_manage = true %}
      {% endif %}
    {% endfor %}
    {% for player in match.players.team2 %}
      {% if player.user_id == CURRENT_PLAYER.ID %}
        {% set can_manage = true %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

{# start outputting the match #}
<div class="zone-match">
  <div class="zone-match-title">{{ lang('NCZONE_MATCH_MATCH') }} #{{ match.id }}</div>
  <div class="zone-match-data">
    {% if match.winner %}
      <div>{{ lang('NCZONE_MATCH_WINNER') }}</div>
      <div>{{ match.winner }}</div>
    {% endif %}

    <div>{{ lang('NCZONE_MATCH_DRAWER') }}</div>
    <div>{{ match.drawer.name }}</div>

    {% if match.winner %}
      <div>{{ lang('NCZONE_MATCH_RESULT_POSTER') }}</div>
      <div>{{ match.result_poster.name }}</div>
    {% endif %}

    <div>{{ lang('NCZONE_MATCH_MAP') }}</div>
    <div>{{ match.map.title }}</div>

    <div>{{ lang('NCZONE_MATCH_CIVS') }}</div>
    <div>
      {% if match.civs.both %}
        <div>{{ lang('NCZONE_MATCH_CIVS_BOTH') }}
          : {% include 'zone/partial/civ_csv.html' with { civs: match.civs.both } %}</div>
      {% endif %}
      {% if match.civs.team1 %}
        <div>{{ lang('NCZONE_MATCH_CIVS_TEAM1') }}
          : {% include 'zone/partial/civ_csv.html' with { civs: match.civs.team1 } %}</div>
      {% endif %}
      {% if match.civs.team2 %}
        <div>{{ lang('NCZONE_MATCH_CIVS_TEAM2') }}
          : {% include 'zone/partial/civ_csv.html' with { civs: match.civs.team2 } %}</div>
      {% endif %}
    </div>

    {% if match.winner %}
      <div>{{ lang('NCZONE_MATCH_LENGTH') }}</div>
      {# todo: calc... #}
      <div>{{ match.timestampEnd - match.timestampStart }}</div>
    {% else %}
      <div>{{ lang('NCZONE_MATCH_TIME_SINCE_DRAW') }}</div>
      <div>{{ match.timestampStart }} {# todo init a timer #}</div>
    {% endif %}
  </div>

  <div class="zone-match-title">{{ lang('NCZONE_MATCH_TEAMS') }}:</div>
  <div class="zone-match-team-table">

    {% include 'zone/partial/team.html' with { team: 1, match: match } %}

    <div class="zone-match-vs">
      {{ lang('NCZONE_MATCH_VS') }}
    </div>

    {% include 'zone/partial/team.html' with { team: 2, match: match } %}

  </div>
  {% if can_manage %}
    <div class="zone-match-post-result-form">
      {{ lang('NCZONE_MATCH_RESULT') }}
      <select>
        <option value="">{{ lang('NCZONE_MATCH_POST_RESULT') }}</option>
        <option value="">{{ lang('NCZONE_MATCH_POST_WIN_TEAM1') }}</option>
        <option value="">{{ lang('NCZONE_MATCH_POST_WIN_TEAM2') }}</option>
        <option value="">{{ lang('NCZONE_MATCH_POST_DRAW') }}</option>
        <option value="">{{ lang('NCZONE_MATCH_POST_OW') }}</option>
      </select>
    </div>
  {% endif %}
</div>
