.zone-block {
  padding: 5px;
  border-radius: 7px;
  background-color: $block_bg;
  background-image: -webkit-linear-gradient(top, lighten($block_bg, 40) 0%, lighten($block_bg, 20) 2px, $block_bg 92px, $block_bg 100%);
  background-image: linear-gradient(to bottom, lighten($block_bg, 40) 0%, lighten($block_bg, 20) 2px, $block_bg 92px, $block_bg 100%);
  background-repeat: repeat-x;
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  .zone-title {
    color: #fff;
    margin: 2px 0 4px;
    padding: 2px 0;
    font-weight: bold;
    line-height: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .zone-content {
    padding: 5px;
    background-color: #eef5f9;
    background-image: -webkit-linear-gradient(top, darken($base_light_color, 5) 0%, $base_light_color 100%);
    background-image: linear-gradient(to bottom, darken($base_light_color, 5) 0%, $base_light_color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2e0eb", endColorstr="#eef5f9", GradientType=0);
  }

  .zone-actions {
    margin: 4px 0 0;
    padding: 2px 0;
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
  }
}
