.zone-menu-block {
  line-height: 1.5em;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: solid 1px $border_light_color;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .zone-menu-title {
    text-transform: uppercase;
  }

  .zone-menu {
    font-weight: bold;
    list-style-type: "»";
    padding-left: 1em;

    li {
      padding-left: .5em;
    }
  }
}
