{% extends 'base.html' %}

{% block content %}

<fieldset>
	<legend>{{ lang('ACP_NCZONE_GENERAL_TITLE') }}</legend>
	<dl>
		<dt>
			<label for="nczone_title">{{ lang('NCZONE_SET_TITLE') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_SET_TITLE_DESCR') }}</span>
		</dt>
		<dd>
			<input type="text" name="nczone_title" value="{{ nczone_title }}" />
		</dd>
	</dl>
  <dl>
    <dt>
      <label for="nczone_rules_post_id">{{ lang('NCZONE_RULES_POST_ID') }}{{ lang('COLON') }}</label><br />
      <span>{{ lang('NCZONE_RULES_POST_ID_DESCR') }}</span>
    </dt>
    <dd>
      <input type="number" min="0" name="nczone_rules_post_id" value="{{ nczone_rules_post_id }}" />
    </dd>
  </dl>
	<dl>
		<dt>
			<label for="nczone_match_forum_id">{{ lang('NCZONE_MATCH_FORUM_ID') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_MATCH_FORUM_ID_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" min="0" name="nczone_match_forum_id" value="{{ nczone_match_forum_id }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_pmatches_page_size">{{ lang('NCZONE_PMATCHES_PAGE_SIZE') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_PMATCHES_PAGE_SIZE_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" min="0" name="nczone_pmatches_page_size" value="{{ nczone_pmatches_page_size }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_activity_time">{{ lang('NCZONE_ACTIVITY_TIME') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_ACTIVITY_TIME_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" min="0" name="nczone_activity_time" value="{{ nczone_activity_time }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{{ lang('NCZONE_ACTIVITY') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_ACTIVITY_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" name="nczone_activity_1" value="{{ nczone_activity_1 }}" />
			<input type="number" name="nczone_activity_2" value="{{ nczone_activity_2 }}" />
			<input type="number" name="nczone_activity_3" value="{{ nczone_activity_3 }}" />
			<input type="number" name="nczone_activity_4" value="{{ nczone_activity_4 }}" />
			<input type="number" name="nczone_activity_5" value="{{ nczone_activity_5 }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_bet_time">{{ lang('NCZONE_BET_TIME') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_BET_TIME_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" min="0" name="nczone_bet_time" value="{{ nczone_bet_time }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_points">{{ lang('NCZONE_POINTS') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_POINTS_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" name="nczone_points_1vs1" value="{{ nczone_points_1vs1 }}" />
			<input type="number" name="nczone_points_2vs2" value="{{ nczone_points_2vs2 }}" />
			<input type="number" name="nczone_points_3vs3" value="{{ nczone_points_3vs3 }}" />
			<input type="number" name="nczone_points_4vs4" value="{{ nczone_points_4vs4 }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_extra_points">{{ lang('NCZONE_EXTRA_POINTS') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_EXTRA_POINTS_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" name="nczone_extra_points" value="{{ nczone_extra_points }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_free_points">{{ lang('NCZONE_FREE_POINTS') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_FREE_POINTS_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" name="nczone_free_points" value="{{ nczone_free_points }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_free_points_condition">{{ lang('NCZONE_FREE_POINTS_CONDITION') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_FREE_POINTS_CONDITION_DESCR') }}</span>
		</dt>
		<dd>
			<label for="nczone_free_points_regular">{{ lang('NCZONE_FREE_POINTS_REGULAR_DESCR') }}</label> <input type="checkbox" name="nczone_free_points_regular" id="nczone_free_points_regular" {% if nczone_free_points_regular %}checked="checked"{% endif %}/><br />
			<label for="nczone_free_points_unrated">{{ lang('NCZONE_FREE_POINTS_UNRATED_DESCR') }}</label> <input type="checkbox" name="nczone_free_points_unrated" id="nczone_free_points_unrated" {% if nczone_free_points_unrated %}checked="checked"{% endif %} /><br />
			<label for="nczone_free_points_difference">{{ lang('NCZONE_FREE_POINTS_DIFFERENCE_DESCR') }}</label> <input type="checkbox" name="nczone_free_points_difference" id="nczone_free_points_difference" {% if nczone_free_points_difference %}checked="checked"{% endif %} />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_info_posts">{{ lang('NCZONE_INFO_POSTS') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_INFO_POSTS_DESCR') }}</span>
		</dt>
		<dd>
			<textarea style="width:200px;height:100px;" name="nczone_info_posts">{{ nczone_info_posts }}</textarea>
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_free_pick_civ_id">{{ lang('NCZONE_FREE_PICK_CIV_ID') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_FREE_PICK_CIV_ID_DESCR') }}</span>
		</dt>
		<dd>
      <select name="nczone_free_pick_civ_id">
          <option value="0">{{ lang('NCZONE_NO_FREE_PICK_CIV') }}</option>
          {% for civ in civs %}
              <option value="{{ civ.ID }}" {% if civ.ID == nczone_free_pick_civ_id %}selected="selected"{% endif %}>{{ lang(civ.NAME) }}</option>
          {% endfor %}
      </select>
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_number_map_vetos">{{ lang('NCZONE_NUMBER_MAP_VETOS') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_NUMBER_MAP_VETOS_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" min="0" name="nczone_number_map_vetos" value="{{ nczone_number_map_vetos }}" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label>{{ lang('NCZONE_DELETE_ALL_VETOS') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_DELETE_ALL_VETOS_DESCR') }}</span>
		</dt>
		<dd>
			<input class="button1" type="submit" id="nczone_delete_all_vetos" name="nczone_delete_all_vetos" value="{{ lang('NCZONE_DELETE_ALL_VETOS_NOW') }}" />
			<label>{{ lang('NCZONE_DELETE_ALL_VETOS_CONFIRM') }}{{ lang('COLON') }}</label>
			<label><input type="radio" name="nczone_delete_all_vetos_confirm" value="1" /> {{ lang('NCZONE_DELETE_ALL_VETOS_YES') }}</label>
			<label><input type="radio" name="nczone_delete_all_vetos_confirm" value="0" checked="checked" /> {{ lang('NCZONE_DELETE_ALL_VETOS_NO') }}</label>
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="nczone_map_veto_power">{{ lang('NCZONE_MAP_VETO_POWER') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('NCZONE_MAP_VETO_POWER_DESCR') }}</span>
		</dt>
		<dd>
			<input type="number" min="1" max="10" step="0.1" name="nczone_map_veto_power" value="{{ nczone_map_veto_power }}" />
		</dd>
	</dl>
</fieldset>

{% endblock %}
