.zone-block {
  padding: 5px;
  background-color: $block_bg;
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }

  .zone-title {
    color: #fff;
    margin: 2px 0 4px;
    padding: 2px 0;
    font-weight: bold;
    line-height: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .zone-content {
    padding: 5px;
    background-color: #eeeeee;
  }

  .zone-actions {
    margin: 4px 0 0;
    padding: 2px 0;
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
  }
}
