@import "zone/block";
@import "zone/players-table";
@import "zone/menu";
@import "zone/match";

.zone-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 216px auto 216px;
  grid-gap: 18px;
  align-items: start;

  a {
    cursor: pointer;
  }
}

#zone-navigation {
  grid-column: 1;
  grid-row: 1;
}

#zone-player-area {
  grid-column: 3;
  grid-row: 1;
}

#zone-main {
  grid-column: 2;
  grid-row: 1;
}

.zone-numeric-list {
  list-style: decimal;
  padding-left: 1.8em;
}

.nczone-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .8);

  .nczone-overlay-panel {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.zone-button {
  border: solid 1px #6aceff;
  background: #0076b1;
  color: #eef5f9;
  padding: 2px 4px;
  cursor: pointer;

  &:disabled {
    color: #000;
    background: #d0d0d0;
    background-image: none;
    cursor: not-allowed;
  }
}
