$base_color: #0076b1;
$base_light_color: lighten($base_color, 85);

$border_light_color: #ccc;

$input_bg: $base_color;
$input_bg_disabled: #d0d0d0;
$input_fg: $base_light_color;
$input_fg_disabled: #000;
$overlay_bg: rgba(255, 255, 255, .8);

$block_bg: $base_color;

$activity_color_worst: #d72b4a;
$activity_color_best: #1fb10c;

@import "zone/block";
@import "zone/players-table";
@import "zone/menu";
@import "zone/match";
@import "zone/player-area";
@import "zone/draw-preview";

.zone-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 216px auto 216px;
  grid-gap: 18px;
  align-items: start;

  a {
    cursor: pointer;
  }
}

#zone-navigation {
  grid-column: 1;
  grid-row: 1;
}

#zone-player-area {
  grid-column: 3;
  grid-row: 1;
}

#zone-main {
  grid-column: 2;
  grid-row: 1;
}

.zone-numeric-list {
  list-style: decimal;
  padding-left: 1.8em;
}

.zone-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $overlay_bg;

  .zone-overlay-panel {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.zone-button {
  border: solid 1px lighten($input_bg, 25);
  background: $input_bg;
  color: $input_fg;
  padding: 2px 4px;
  cursor: pointer;

  &:hover {
    background: darken($input_bg, 10);
    border-color: lighten($input_bg, 15);
  }

  &:disabled {
    color: $input_fg_disabled;
    background: $input_bg_disabled;
    background-image: none;
    cursor: not-allowed;
  }
}
