table.mcp_nczone {
  td {
    padding: 2px;

    border-width: 1px;
    border-color: #B4BAC0;
    border-style: solid;

    text-align: center;
  }
}

#mcp {
  .half-inputbox {
    width: calc(85% / 2 - 6px);
  }
}
