@charset "UTF-8";
.zone-block {
  padding: 5px;
  border-radius: 7px;
  background-color: #0076b1;
  background-image: -webkit-linear-gradient(top, #6aceff 0%, #12a3eb 2px, #0076b1 92px, #0076b1 100%);
  background-image: linear-gradient(to bottom, #6aceff 0%, #12a3eb 2px, #0076b1 92px, #0076b1 100%);
  background-repeat: repeat-x;
  margin-bottom: 2em;
}
.zone-block:last-child {
  margin-bottom: 0;
}
.zone-block .zone-title {
  color: #fff;
  margin: 2px 0 4px;
  padding: 2px 0;
  font-weight: bold;
  line-height: 1em;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.zone-block .zone-content {
  padding: 5px;
  background-color: #eef5f9;
  background-image: -webkit-linear-gradient(top, #d2e0eb 0%, #eef5f9 100%);
  background-image: linear-gradient(to bottom, #d2e0eb 0%, #eef5f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2e0eb", endColorstr="#eef5f9", GradientType=0);
}

.zone-menu-block {
  line-height: 1.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px #ccc;
}
.zone-menu-block:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.zone-menu-block .zone-menu-title {
  text-transform: uppercase;
}
.zone-menu-block .zone-menu {
  font-weight: bold;
  list-style-type: "»";
  padding-left: 1em;
}
.zone-menu-block .zone-menu li {
  padding-left: 0.5em;
}

.zone-match-data {
  display: grid;
  grid-template-columns: 50% 50%;
}

.zone-match-team-table {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.zone-match-team-1 {
  display: grid;
}
.zone-match-team-1 .zone-match-team {
  grid-column: 2;
  grid-row: 1;
}
.zone-match-team-1 .zone-match-team dl {
  display: grid;
}
.zone-match-team-1 .zone-match-team dl dt {
  grid-column: 2;
}
.zone-match-team-1 .zone-match-team dl dt:nth-child(1) {
  grid-row: 1;
}
.zone-match-team-1 .zone-match-team dl dt:nth-of-type(2) {
  grid-row: 2;
}
.zone-match-team-1 .zone-match-team dl dt:nth-of-type(3) {
  grid-row: 3;
}
.zone-match-team-1 .zone-match-team dl dt:nth-of-type(4) {
  grid-row: 4;
}
.zone-match-team-1 .zone-match-team dl dd {
  grid-column: 1;
}
.zone-match-team-1 .zone-match-bets {
  grid-row: 1;
  grid-column: 1;
}

.zone-match-team-2 {
  display: grid;
}
.zone-match-team-2 .zone-match-team {
  grid-row: 1;
  grid-column: 1;
}
.zone-match-team-2 .zone-match-team dl {
  display: grid;
}
.zone-match-team-2 .zone-match-team dl dt {
  grid-column: 1;
}
.zone-match-team-2 .zone-match-team dl dd {
  grid-column: 2;
}
.zone-match-team-2 .zone-match-bets {
  grid-column: 2;
  grid-row: 1;
}

.zone-match-bets .zone-match-bets-overlay {
  display: none;
  position: absolute;
  background: #fff;
}
.zone-match-bets:hover .zone-match-bets-overlay {
  display: block;
}

.zone-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 216px auto 216px;
  grid-gap: 18px;
  align-items: start;
}

#zone-navigation {
  grid-column: 1;
  grid-row: 1;
}

#zone-player-area {
  grid-column: 3;
  grid-row: 1;
}

#zone-main {
  grid-column: 2;
  grid-row: 1;
}

/*# sourceMappingURL=zone.css.map */
