<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

	<h2>{L_MCP_ZONE_TITLE}</h2>
	<div class="panel">
			<div class="inner">

<!-- IF S_MANAGE_PLAYERS -->

<!-- IF S_NEW_PLAYER || S_EDIT_PLAYER -->
	<fieldset>
		<dl>
			<dt>
				<label>{L_USERNAME}{L_COLON}</label><br />
			</dt>
			<dd>
				<strong>{USERNAME}</strong>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<dl>
			<dt>
				<label for="rating">{L_MCP_PLAYER_RATING}{L_COLON}</label><br />
				<span>{L_MCP_PLAYER_RATING_HINT}</span>
			</dt>
			<dd>
				<input class="inputbox" id="rating" name="rating" type="text" value="<!-- IF S_EDIT_PLAYER -->{PLAYER_RATING}<!-- ELSE -->0<!-- ENDIF -->" />
			</dd>
		</dl>
<!-- IF S_NEW_PLAYER -->
		<dl>
			<dt>
				<label for="activate_player">{L_MCP_ACTIVATE_PLAYER}{L_COLON}</label><br />
				<span>{L_MCP_ACTIVATE_PLAYER_HINT}</span>
			</dt>
			<dd>
				<input id="activate" name="activate" type="checkbox" />
			</dd>
		</dl>
<!-- ENDIF -->
	</fieldset>

	<input id="user_id" name="user_id" type="hidden" value="{USER_ID}" />
<!-- IF S_NEW_PLAYER -->
	<input id="new_player" name="new_player" type="hidden" value="1" />
<!-- ELSE -->
	<input id="edit_player" name="edit_player" type="hidden" value="1" />
<!-- ENDIF -->

<!-- ELSEIF S_SELECT_PLAYER -->
<!-- IF S_PLAYER_NOT_FOUND -->
	<div class="zone_errorbox">
		{L_MCP_USER_NOT_FOUND}
	</div>
<!-- ENDIF -->
	<fieldset>
		<dl>
			<dt>
				<label for="user_id">{L_MCP_SELECT_USER}{L_COLON}</label><br />
				<span>{L_MCP_SELECT_USER_HINT}</span>
			</dt>
			<dd>
				<input class="inputbox" id="username" name="username" type="text" />
			</dd>
			<dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd>
		</dl>
	</fieldset>
<!-- ENDIF -->

<!-- ELSEIF S_MANAGE_CIVS -->

<!-- IF S_SELECT_CIV -->

	<fieldset>
		<dl>
			<dt>
				<label for="civ_id">{L_MCP_SELECT_CIV}{L_COLON}</label><br />
				<span>{L_MCP_CIV_HINT}</span>
			</dt>
			<dd>
				<select id="civ_id" name="civ_id">
					<option value="0">{L_MCP_CREATE_CIV}</option>
					<!-- BEGIN civs -->
					<option value="{civs.ID}">{civs.NAME}</option>
					<!-- END civs -->
				</select>
			</dd>
		</dl>
	</fieldset>

<!-- ELSEIF S_NEW_CIV || S_EDIT_CIV -->

	<fieldset>
		<dl>
			<dt>
				<label for="civ_name">{L_MCP_CIV_NAME}{L_COLON}</label><br />
				<span>{L_MCP_CIV_NAME_HINT}</span>
			</dt>
			<dd>
				 <input id="civ_name" name="civ_name" type="text" class="inputbox" <!-- IF S_EDIT_CIV --> value="{S_CIV_NAME}" <!-- ENDIF --> />
			</dd>
		</dl>
	</fieldset>
	<!-- IF S_EDIT_CIV -->
	<input id="civ_id" name="civ_id" type="hidden" value="{S_CIV_ID}" />
	<input id="edit_civ" name="edit_civ" type="hidden" value="1" />
	<!-- ELSE -->
	<input id="create_civ" name="create_civ" type="hidden" value="1" />
	<!-- ENDIF -->

<!-- ENDIF -->

<!-- ELSEIF S_MANAGE_MAPS -->

<!-- IF S_SELECT_MAP -->

	<fieldset>
		<dl>
			<dt>
				<label for="map_id">{L_MCP_SELECT_MAP}{L_COLON}</label><br />
				<span>{L_MCP_MAP_HINT}</span>
			</dt>
			<dd>
				<select id="map_id" name="map_id">
					<!-- IF S_CAN_CREATE_MAP -->
					<option value="0">{L_MCP_CREATE_MAP}</option>
					<!-- ENDIF -->
					<!-- BEGIN maps -->
					<option value="{maps.ID}">{maps.NAME}</option>
					<!-- END maps -->
				</select>
			</dd>
		</dl>
	</fieldset>

<!-- ELSEIF S_NEW_MAP || S_EDIT_MAP -->

	<fieldset>
		<dl>
			<dt>
				<label for="map_name">{L_MCP_MAP_NAME}{L_COLON}</label><br />
				<span>{L_MCP_MAP_NAME_HINT}</span>
			</dt>
			<dd>
				 <input id="map_name" name="map_name" type="text" class="inputbox" <!-- IF S_EDIT_MAP --> value="{S_MAP_NAME}" <!-- ENDIF --> />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="map_name">{L_MCP_MAP_WEIGHT}{L_COLON}</label><br />
				<span>{L_MCP_MAP_WEIGHT_HINT}</span>
			</dt>
			<dd>
				 <input id="map_weight" name="map_weight" type="text" class="inputbox" <!-- IF S_EDIT_MAP --> value="{S_MAP_WEIGHT}" <!-- ELSE --> value="1.0" <!-- ENDIF --> />
			</dd>
		</dl>

<!-- IF S_NEW_MAP -->
			<dl>
				<dt>
					<label for="copy_map_id">{L_MCP_COPY_MAP}{L_COLON}</label><br />
					<span>{L_MCP_COPY_MAP_HINT}</span>
				</dt>
				<dd>
				<select id="copy_map_id" name="copy_map_id">
					<option value="0">{L_MCP_DONT_COPY}</option>
					<!-- BEGIN maps -->
					<option value="{maps.ID}">{maps.NAME}</option>
					<!-- END maps -->
				</select>
			</dd>
			</dl>
<!-- ENDIF -->

<!-- IF S_EDIT_MAP -->
		<dl>
			<dt>
				<label for="map_civs">{L_MCP_MAP_CIVS}{L_COLON}</label><br />
				<span>{L_MCP_MAP_CIVS_HINT}</span>
			</dt>
			<dd>
				<table class="mcp_nczone">
					<tr>
						<th>{L_MCP_CIV_NAME}</th>
						<th>{L_MCP_MULTIPLIER}</th>
						<th>{L_MCP_FORCE_DRAW}</th>
						<th>{L_MCP_PREVENT_DRAW}</th>
						<th>{L_MCP_BOTH_TEAMS}</th>
					</tr>
<!-- BEGIN map_civs -->
					<tr>
						<td>{map_civs.CIV_NAME}</td>
						<td><input id="multiplier_{map_civs.CIV_ID}" name="multiplier_{map_civs.CIV_ID}" type="text" class="inputbox" value="{map_civs.MULTIPLIER}" /></td>
						<td><input id="force_draw_{map_civs.CIV_ID}" name="force_draw_{map_civs.CIV_ID}" type="checkbox" {map_civs.FORCE_DRAW} /></td>
						<td><input id="prevent_draw_{map_civs.CIV_ID}" name="prevent_draw_{map_civs.CIV_ID}" type="checkbox" {map_civs.PREVENT_DRAW} /></td>
						<td><input id="both_teams_{map_civs.CIV_ID}" name="both_teams_{map_civs.CIV_ID}" type="checkbox" {map_civs.BOTH_TEAMS} /></td>
					</tr>
<!-- END map_civs -->
				</table>
			</dd>
		</dl>
<!-- ENDIF -->

	</fieldset>
	<!-- IF S_EDIT_MAP -->
	<input id="map_id" name="map_id" type="hidden" value="{S_MAP_ID}" />
	<input id="edit_map" name="edit_map" type="hidden" value="1" />
	<!-- ELSE -->
	<input id="create_map" name="create_map" type="hidden" value="1" />
	<!-- ENDIF -->

<!-- ENDIF -->

<!-- ENDIF -->

		</div>
	</div>
	<fieldset class="submit-buttons">
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submituser" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE mcp_footer.html -->
