<div class="zone_title">{L_NCZONE_ZONE}</div>
<div class="zone_loggedin">
{% if CURRENT_PLAYER_VIEW_LOGIN %}

{% if loops.logged_in %}
    <table>
    {% for user in loops.logged_in %}
        <tr>
            <td class="username">{{ user.USERNAME }}</td>
            <td class="rating">{{ user.RATING }}</td>
        </tr>
    {% endfor %}
    </table>
    <br />
{% else %}
    {{ lang('NCZONE_NO_LOGIN') }}<br />
{% endif %}

{% if CURRENT_PLAYER_CAN_LOGIN %}
    <a href="{U_ZONE_LOGINOUT}">
        {% if CURRENT_PLAYER_LOGGED_IN %}
        {{ lang('NCZONE_LOGOUT') }}
        {% else %}
        {{ lang('NCZONE_LOGIN') }}
        {% endif %}
    </a>
{% endif %}

{% if CURRENT_PLAYER_CAN_DRAW %}
    <a href="{U_ZONE_DRAW}">{{ lang('NCZONE_DRAW') }}</a>
{% endif %}

{% endif %}
</div>