<div class="zone_title">{L_NCZONE_ZONE}</div>
<div class="zone_loggedin">
<!-- IF CURRENT_PLAYER_VIEW_LOGIN -->

<!-- IF .logged_in -->
    <table>
    <!-- BEGIN logged_in -->
        <tr>
            <td class="number">{logged_in.ROW}</td>
            <td class="username">{logged_in.USERNAME}</td>
            <td class="rating">{logged_in.RATING}</td>
        </tr>
    <!-- END logged_in -->
    </table>
<!-- ELSE -->
    {L_NCZONE_NO_LOGIN}
<!-- ENDIF -->

<!-- IF CURRENT_PLAYER_CAN_LOGIN -->
    <a href="{U_ZONE_LOGINOUT}">
        <!-- IF CURRENT_PLAYER_LOGGED_IN -->
        {L_NCZONE_LOGOUT}
        <!-- ELSE -->
        {L_NCZONE_LOGIN}
        <!-- ENDIF -->
    </a>
<!-- ENDIF -->

<!-- IF CURRENT_PLAYER_CAN_DRAW -->
    <a href="{U_ZONE_DRAW}">{L_NCZONE_DRAW}</a>
<!-- ENDIF -->

<!-- ENDIF -->
</div>