.zone-match {
  margin: 1em;
  border: solid 1px $border_light_color;
  line-height: 1.4em;
  font-size: 9pt;
}

.postbody .zone-match {
  margin: auto;
  width: 686px;
}

.zone-match-title {
  text-align: center;

  &:first-child {
    background-color: $base_color;
    color: $input_fg;

    border-style: solid;
    border-color: $border_light_color;
    border-width: 0 0 1px;
  }
}

.zone-match-data {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: dense;

  > div {
    padding: 0 5px;
  }
}

/* Team table (Team 1 VS Team 2)
===================================================================*/
.zone-match-team-table {
  margin: 1em 0;
  display: grid;
  grid-template-columns: calc(50% - 20px) 40px calc(50% - 20px);
  grid-auto-flow: dense;

  .zone-match-team-1 {
    grid-column: 1;
    display: grid;
    grid-template-columns: 50px auto;
    grid-auto-flow: dense;

    .zone-match-team {
      grid-column: 2;
    }

    .zone-match-bets {
      grid-column: 1;
    }
  }

  .zone-match-vs {
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }

  .zone-match-team-2 {
    grid-column: 3;
    display: grid;
    grid-template-columns: auto 50px;
    grid-auto-flow: dense;

    .zone-match-team {
      grid-column: 1;
    }

    .zone-match-bets {
      grid-column: 2;
    }
  }
}

/* Team
===================================================================*/
.zone-match-team {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: start;
  grid-auto-flow: dense;

  > div {
    padding: 0 5px;
  }

  .zone-match-team-header {
    font-weight: bold;
  }

  .zone-match-player-name {
    grid-column: 2;
  }

  .zone-match-player-rating {
    grid-column: 1;
  }

  .zone-match-player-civ {
    grid-column: 3;
  }

  .zone-match-team-2 & {
    grid-template-columns: auto auto auto;
    justify-items: end;

    .zone-match-player-rating {
      grid-column: 3;
    }

    .zone-match-player-civ {
      grid-column: 1;
    }
  }
}

/* Bets
===================================================================*/
.zone-match-bets {
  margin: auto;
  height: 100%;

  .zone-match-bets-overlay {
    display: none;
    position: absolute;
    background: #fff;
    border: solid 1px #ccc;
    padding: 3px 5px;
  }

  &:hover {
    .zone-match-bets-overlay {
      display: block;
    }
  }

  .zone-match-bets-percentage {
    position: relative;
    width: 42px;
    height: 100%;
    border: solid 1px $border_light_color;
    background: #888;
  }

  .zone-match-bets-percentage-number {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .zone-match-bets-bet-button {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .zone-match-bets-percentage-bar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: #444;
  }

  .zone-match-betters {
    list-style: none;
  }

  .zone-match-bets-title {
    font-weight: bold;
  }
}

/* Post result
===================================================================*/
.zone-match-post-result-form {
  text-align: center;

  span,
  select,
  button {
    margin: .5em;
  }
}
