@import "partial/activity.scss";
@import "partial/block.scss";
@import "partial/button.scss";
@import "partial/past-matches.scss";
@import "partial/players-table.scss";
@import "partial/bets-table.scss";
@import "partial/maps.scss";
@import "partial/player-details.scss";
@import "partial/menu.scss";
@import "partial/match.scss";
@import "partial/overlay.scss";
@import "partial/player-area.scss";
@import "partial/draw-preview.scss";
@import "partial/replace-preview.scss";
@import "partial/add-pair-preview.scss";
@import "partial/rules.scss";
@import "partial/table.scss";
@import "partial/map-description.scss";
@import "partial/settings.scss";

.zone-container textarea, .zone-container input {
  background-color: $input_bg;
  color: $input_fg;
}

.zone-clickable {
  cursor: pointer;
}

.zone-link {
  @extend .zone-clickable;
  text-decoration: underline;
  color: $active_link_color;
}

.color-negative {
  color: $negative_color;
}

.color-positive {
  color: $positive_color;
}

.zone-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 216px auto 216px;
  grid-gap: 18px;
  align-items: start;
  color: $base_color;
  font-size: 9pt;

  a {
    cursor: pointer;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

#zone-navigation {
  grid-column: 1;
  grid-row: 1;
}

#zone-player-area {
  grid-column: 3;
  grid-row: 1;
}

#zone-main {
  grid-column: 2;
  grid-row: 1;
}

.zone-numeric-list {
  list-style: decimal;
  padding-left: 1.8em;
}

.zone-small {
  font-size: 80%;
}

.zone-button, .zone-mini-button, .zone-close-button {
  padding: 2px;
}

.zone-table-row .zone-mini-button, .zone-player-table-kick .zone-mini-button, .zone-match-player-replace .zone-mini-button {
  font-size: 10px;
}
