@import "partial/activity.scss";
@import "partial/block.scss";
@import "partial/past-matches.scss";
@import "partial/players-table.scss";
@import "partial/bets-table.scss";
@import "partial/maps.scss";
@import "partial/player-details.scss";
@import "partial/menu.scss";
@import "partial/match.scss";
@import "partial/player-area.scss";
@import "partial/draw-preview.scss";
@import "partial/replace-preview.scss";
@import "partial/add-pair-preview.scss";
@import "partial/rules.scss";
@import "partial/map-description.scss";

.zone-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 216px auto 216px;
  grid-gap: 18px;
  align-items: start;
  color: $base_color;
  font-size: 9pt;

  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

#zone-navigation {
  grid-column: 1;
  grid-row: 1;
}

#zone-player-area {
  grid-column: 3;
  grid-row: 1;
}

#zone-main {
  grid-column: 2;
  grid-row: 1;
}

.zone-numeric-list {
  list-style: decimal;
  padding-left: 1.8em;
}

.zone-overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $overlay_bg;

  .zone-title-bar {
    display: grid;

    .zone-title {
      grid-column: 1;
      grid-row: 1;
    }

    .zone-close-button {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .zone-overlay-panel {
    min-width: 622px;
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.zone-button, .zone-mini-button, .zone-close-button {
  border: solid 1px lighten($input_bg, 25);
  background: $input_bg;
  color: $input_fg;
  padding: 2px 4px;
  cursor: pointer;

  &:hover {
    background: darken($input_bg, 10);
    border-color: lighten($input_bg, 15);
  }

  &:disabled {
    color: $input_fg_disabled;
    background: $input_bg_disabled;
    background-image: none;
    cursor: not-allowed;
  }
}

.zone-mini-button {
  padding: 0 2px;
  font-size: 12px;
}

.zone-close-button {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 5px;
  padding: 0;

  width: 1.2rem;
  height: 1.2rem;

  text-align: center;
}

.zone-players-table-idx {
  padding: 1px 0;
}

