eru_nczone_controller_zone:
    path: /nczone
    defaults: { _controller: eru.nczone.controller:zone }

eru_nczone_controller__api__logged_in_players:
    path: /nczone/api/players/logged_in
    defaults: { _controller: eru.nczone.controller.api:logged_in_players }

eru_nczone_controller__api__all_players:
    path: /nczone/api/players
    defaults: { _controller: eru.nczone.controller.api:all_players }

eru_nczone_controller__api__running_matches:
    path: /nczone/api/matches/running
    defaults: { _controller: eru.nczone.controller.api:rmatches }

eru_nczone_controller__api__past_matches:
    path: /nczone/api/matches/past/{page}
    defaults: { _controller: eru.nczone.controller.api:pmatches, page: 0 }
    requirements:
      page: \d+

eru_nczone_controller__api__match:
    path: /nczone/api/matches/{match_id}
    defaults: { _controller: eru.nczone.controller.api:match }
    requirements:
        match_id: \d+

eru_nczone_controller__api__match_bet:
    path: /nczone/api/matches/{match_id}/bet
    defaults: { _controller: eru.nczone.controller.api:match_bet }
    requirements:
        match_id: \d+

eru_nczone_controller__api__matches_post_result:
    path: /nczone/api/matches/{match_id}/post_result
    defaults: { _controller: eru.nczone.controller.api:match_post_result }
    requirements:
        match_id: \d+

eru_nczone_controller__api__me:
    path: /nczone/api/me
    defaults: { _controller: eru.nczone.controller.api:me }

eru_nczone_controller__api__me_set_language:
    path: /nczone/api/me/set_language
    defaults: { _controller: eru.nczone.controller.api:me_set_language }

eru_nczone_controller__api__me_login:
    path: /nczone/api/me/login
    defaults: { _controller: eru.nczone.controller.api:me_login }

eru_nczone_controller__api__me_logout:
    path: /nczone/api/me/logout
    defaults: { _controller: eru.nczone.controller.api:me_logout }

eru_nczone_controller__api__draw_preview:
    path: /nczone/api/draw/preview
    defaults: { _controller: eru.nczone.controller.api:draw_preview }

eru_nczone_controller__api__draw_cancel:
    path: /nczone/api/draw/cancel
    defaults: { _controller: eru.nczone.controller.api:draw_cancel }

eru_nczone_controller__api__draw_confirm:
    path: /nczone/api/draw/confirm
    defaults: { _controller: eru.nczone.controller.api:draw_confirm }

eru_nczone_controller__api__replace_preview:
    path: /nczone/api/replace/preview/{replace_user_id}
    defaults: { _controller: eru.nczone.controller.api:replace_preview }
    requirements:
        replace_user_id: \d+

eru_nczone_controller__api__replace_cancel:
    path: /nczone/api/replace/cancel
    defaults: { _controller: eru.nczone.controller.api:replace_cancel }

eru_nczone_controller__api__replace_confirm:
    path: /nczone/api/replace/confirm/{replace_user_id}
    defaults: { _controller: eru.nczone.controller.api:replace_confirm }
    requirements:
        replace_user_id: \d+

eru_nczone_controller__api__add_pair_preview:
    path: /nczone/api/add_pair/preview/{match_id}
    defaults: { _controller: eru.nczone.controller.api:add_pair_preview }
    requirements:
        match_id: \d+

eru_nczone_controller__api__add_pair_cancel:
    path: /nczone/api/add_pair/cancel
    defaults: { _controller: eru.nczone.controller.api:add_pair_cancel }

eru_nczone_controller__api__add_pair_confirm:
    path: /nczone/api/add_pair/confirm/{match_id}
    defaults: { _controller: eru.nczone.controller.api:add_pair_confirm }
    requirements:
        match_id: \d+

eru_nczone_controller__api__information:
    path: /nczone/api/information
    defaults: { _controller: eru.nczone.controller.api:information }

eru_nczone_controller__api__rules:
    path: /nczone/api/rules
    defaults: { _controller: eru.nczone.controller.api:rules }

eru_nczone_controller__api__players_logout:
    path: /nczone/api/players/logout/{user_id}
    defaults: { _controller: eru.nczone.controller.api:player_logout }
    requirements:
        user_id: \d+

eru_nczone_controller__api__players_login:
    path: /nczone/api/players/login/{user_id}
    defaults: { _controller: eru.nczone.controller.api:player_login }
    requirements:
        user_id: \d+

eru_nczone_controller__api__rating_data:
    path: /nczone/api/players/ratings/{user_id}
    defaults: { _controller: eru.nczone.controller.api:rating_data }
    requirements:
        user_id: \d+

eru_nczone_controller__api__player_details:
    path: /nczone/api/players/details/{user_id}
    defaults: { _controller: eru.nczone.controller.api:player_details }
    requirements:
        user_id: \d+

eru_nczone_controller__api__player_dreamteams:
    path: /nczone/api/players/dreamteams/{user_id}/{number}/
    defaults: { _controller: eru.nczone.controller.api:player_dreamteams }
    requirements:
        user_id: \d+
        number: \d+

eru_nczone_controller__api__player_nightmareteams:
    path: /nczone/api/players/nightmareteams/{user_id}/{number}/
    defaults: { _controller: eru.nczone.controller.api:player_nightmareteams }
    requirements:
        user_id: \d+
        number: \d+

eru_nczone_controller__api__bets:
    path: /nczone/api/players/bets
    defaults: { _controller: eru.nczone.controller.api:bets }

eru_nczone_controller__api__statistics:
    path: /nczone/api/players/statistics/{limit}
    defaults: { _controller: eru.nczone.controller.api:statistics }
    requirements:
        limit: \d+
