imports:
    - { resource: parameters.yml }

services:
    eru.nczone.db:
        class: eru\nczone\utility\db
        arguments:
            - '@dbal.conn'
            - '%core.table_prefix%'

    eru.nczone.controller:
        class: eru\nczone\controller\main
        arguments:
            - '@controller.helper'
            - '@?dmzx.mchat.core'

    eru.nczone.controller.api:
        class: eru\nczone\controller\api
        arguments:
            - '@user'
            - '@auth'

    eru.nczone.listener:
        class: eru\nczone\event\main_listener
        arguments:
            - '@controller.helper'
            - '@template'
            - '@user'
            - '%core.php_ext%'
        tags:
            - { name: event.listener }

    eru.nczone.cron.task.activity:
        class: eru\nczone\cron\task\activity
        arguments:
        calls:
            - [set_name, [cron.task.activity]]
        tags:
            - { name: cron.task }

    eru.nczone.notification.type.demo:
        class: eru\nczone\notification\type\demo
        scope: prototype # scope MUST be prototype for this to work!
        arguments:
            - '@user_loader'
            - '@dbal.conn'
            - '@cache.driver'
            - '@user'
            - '@auth'
            - '@config'
            - '%core.root_path%'
            - '%core.php_ext%'
            - '%tables.notification_types%'
            - '%tables.notifications%'
            - '%tables.user_notifications%'
        calls:
            - [set_controller_helper, ['@controller.helper']]
        tags:
            - { name: notification.type }

    eru.nczone.zone.players:
      class: eru\nczone\zone\players
      arguments:
        - '@user'
        - '@eru.nczone.db'

    eru.nczone.zone.matches:
      class: eru\nczone\zone\matches
      arguments:
        - '@eru.nczone.db'

    eru.nczone.zone.civs:
      class: eru\nczone\zone\civs
      arguments:
        - '@eru.nczone.db'

    eru.nczone.zone.maps:
      class: eru\nczone\zone\maps
      arguments:
        - '@eru.nczone.db'
        - '@eru.nczone.zone.civs'

    eru.nczone.zone.draw_teams:
      class: eru\nczone\zone\draw_teams
      arguments:

    eru.nczone.zone.draw_settings:
      class: eru\nczone\zone\draw_settings
      arguments:
        - '@eru.nczone.db'

    eru.nczone.zone.misc:
      class: eru\nczone\zone\misc
      arguments:
        - '@user'
        - '@eru.nczone.db'
