@charset "UTF-8";

@import "vars";
@import "../../base.scss";

/* Overwrites not handled by changed vars
===================================================================*/

.zone-block {
  background-image: -webkit-linear-gradient(top, lighten($block_bg, 40) 0%, lighten($block_bg, 20) 2px, $block_bg 92px, $block_bg 100%);
  background-image: linear-gradient(to bottom, lighten($block_bg, 40) 0%, lighten($block_bg, 20) 2px, $block_bg 92px, $block_bg 100%);
  background-repeat: repeat-x;

  .zone-content {
    background-image: -webkit-linear-gradient(top, darken($base_light_color, 5) 0%, $base_light_color 100%);
    background-image: linear-gradient(to bottom, darken($base_light_color, 5) 0%, $base_light_color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2e0eb", endColorstr="#eef5f9", GradientType=0);
  }
}
