.zone-block {
  padding: 5px;
  border-radius: 7px;
  background-color: #0076b1;
  background-image: -webkit-linear-gradient(top, #6aceff 0%, #12a3eb 2px, #0076b1 92px, #0076b1 100%);
  background-image: linear-gradient(to bottom, #6aceff 0%, #12a3eb 2px, #0076b1 92px, #0076b1 100%);
  background-repeat: repeat-x;
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }

  .zone-title {
    color: #fff;
    margin: 2px 0 4px;
    padding: 2px 0;
    font-weight: bold;
    line-height: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .zone-content {
    padding: 5px;
    background-color: #eef5f9;
    background-image: -webkit-linear-gradient(top, #d2e0eb 0%, #eef5f9 100%);
    background-image: linear-gradient(to bottom, #d2e0eb 0%, #eef5f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2e0eb", endColorstr="#eef5f9", GradientType=0);
  }
}
