.zone-map-description {
  padding: 0 1em;
  padding-bottom: 1em;

  margin: 1em;

  background-color: darken($base_light_bg, 8);

  overflow-y: hidden;

  pre {
    white-space: pre-wrap;
  }

  textarea {
    width: 100%;
  }

  input {
    display: none;
  }

  .zone-map-upload-image {
    margin: 0.5em;
    font-style: italic;
  }

  .zone-map-upload-image-label {
    float: right;
    text-align: center;
  }
}

.zone-map-civs-table {
  margin: 1em;
  margin-top: 2em;

  $dark_rows: darken($base_light_bg, 8);

  .zone-map-civs-table-head {
    background-color: $dark_rows;
    font-weight: bold;
  }

  .zone-map-civs-table-row:nth-child(odd) {
    background-color: $dark_rows;
  }

  .zone-map-civs-table-head, .zone-map-civs-table-row {
    display: grid;
    grid-template-columns: calc(41%) calc(20%) calc(13%) calc(13%) calc(13%);

    text-align: center;

    .zone-map-civs-table-name {
      padding-left: 1rem;
      text-align: left;
    }

    .zone-map-civs-table-force-draw, .zone-map-civs-table-prevent-draw, .zone-map-civs-table-both-teams {
      padding-top: 3px;
    }

    .fa-check {
      color: $positive_color;
    }

    .fa-times {
      color: $negative_color;
    }
  }
}

.zone-map-civs-table-loading {
  width: 100%;
  text-align: center;
}

.zone-map-description-overlay {
  .zone-content {
    max-height: 60vh;
    overflow-y: auto;
  }

  .zone-replace-player {
    font-weight: bold;
  }
}