.zone-map-description {
  padding: 0 1em 1em 1em;

  margin: 1em;

  background-color: $base_dark_bg;

  overflow-y: hidden;

  pre {
    white-space: pre-wrap;
  }

  textarea {
    width: 100%;
  }

  input {
    display: none;
  }

  .zone-map-upload-image {
    margin: 0.5em;
    font-style: italic;
  }

  .zone-map-upload-image-label {
    float: right;
    text-align: center;
  }
}

.zone-map-civs-table {
  margin: 2em 1em 1em 1em;

  .zone-table-row {
    display: grid;
    grid-template-columns: calc(41%) calc(20%) calc(13%) calc(13%) calc(13%);

    > div {
      text-align: center;

      &:first-child {
        padding-left: 1rem;
        text-align: left;
      }
    }

    .fa-check {
      color: $positive_color;
    }

    .fa-times {
      color: $negative_color;
    }
  }
}

.zone-map-civs-table-loading {
  width: 100%;
  text-align: center;
}

.zone-map-description-overlay {
  .zone-content {
    max-height: 60vh;
    overflow-y: auto;
  }
}
