.zone-maps {
  .zone-content {
    padding: 1em 0;
  }

  .zone-map-container {
    margin-bottom: 1em;
    margin: 0 1em;
    border: 2px solid $base_color;

    .zone-map-header {
      display: grid;
      grid-template-columns: calc(5%) calc(35%) calc(15%) calc(45%);

      padding: 4px 0;

      background-color: $base_color;
      color: $input_fg;

      .zone-map-arrow {
        margin-top: -0.2rem;
        font-size: 1rem;
        text-align: center;
        color: $active_link_color;
        cursor: pointer;
      }

      .zone-map-name {
        grid-column: 2;
        font-weight: bold;
      }

      .zone-map-weight {
        grid-column: 3;
        font-weight: bold;
      }

      .zone-map-percent {
        grid-column: 4;
        font-weight: bold;
      }

      .zone-map-civs-table-head {
        background-color: $dark_rows;
        font-weight: bold;
      }

      .zone-map-civs-table-row:nth-child(odd) {
        background-color: $dark_rows;
      }

      .zone-map-civs-table-head, .zone-map-civs-table-row {
        display: grid;
        grid-template-columns: calc(41%) calc(20%) calc(13%) calc(13%) calc(13%);

        text-align: center;

        .zone-map-civs-table-name {
          padding-left: 1rem;
          text-align: left;
        }

        .zone-map-civs-table-force-draw, .zone-map-civs-table-prevent-draw, .zone-map-civs-table-both-teams {
          padding-top: 3px;
        }

        .fa-check {
          color: $positive_color;
        }

        .fa-times {
          color: $negative_color;
        }
      }
    }
  }
}