.zone-player-details {
  .zone-player-details-table {
    display: grid;
    grid-template-columns: 162px 162px 30px 162px 162px;
    align-items: start;
    font-size: 9pt;

    .zone-player-details-label {
      font-weight: bold;
    }

    .zone-player-details-graph {
      margin-top: 35px;
      height: 365px;
    }

    .zone-player-details-name-label {
      grid-column: 1;
      grid-row: 1;
      text-align: left;
    }
    .zone-player-details-name {
      grid-column: 2;
      text-align: right;
    }

    .zone-player-details-games-label {
      grid-column: 1;
      grid-row: 2;
      text-align: left;
    }
    .zone-player-details-games {
      grid-column: 2;
      grid-row: 2;
      text-align: right;
    }

    .zone-player-details-winrate-label {
      grid-column: 1;
      grid-row: 3;
      text-align: left;
    }
    .zone-player-details-winrate {
      grid-column: 2;
      grid-row: 3;
      text-align: right;
    }

    .zone-player-details-rating-label {
      grid-column: 4;
      grid-row: 2;
      text-align: left;
    }
    .zone-player-details-rating {
      grid-column: 5;
      grid-row: 2;
      text-align: right;
    }

    .zone-player-details-puntos-label {
      grid-column: 4;
      grid-row: 3;
      text-align: left;
    }
    .zone-player-details-puntos {
      grid-column: 5;
      grid-row: 3;
      text-align: right;
    }

    .zone-player-details-streak-label {
      grid-column: 4;
      grid-row: 4;
      text-align: left;
    }
    .zone-player-details-streak {
      grid-column: 5;
      grid-row: 4;
      text-align: right;
    }

    .zone-player-details-bets-label {
      grid-column: 1;
      grid-row: 4;
      text-align: left;
    }
    .zone-player-details-bets {
      grid-column: 2;
      grid-row: 4;
      text-align: right;
    }

    .zone-player-details-activity-label {
      grid-column: 1;
      grid-row: 5;
      text-align: left;
    }
    .zone-player-details-activity {
      grid-column: 2;
      grid-row: 5;
      text-align: right;
    }
  }

  .zone-player-details-graph {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
  }

  .zone-player-details-dreamteams {
    display: grid;
    grid-template-columns: 324px 30px 324px;
    align-items: start;
    font-size: 9pt;

    table {
      position: relative;
      width: 100%;

      .matches {
        text-align: center;
      }
    }

    .dreamteams_title {
      grid-column: 1;
      grid-row: 1;

      font-weight: bold;
      text-align: center;
    }

    .nightmareteams_title {
      grid-column: 3;
      grid-row: 1;

      font-weight: bold;
      text-align: center;
    }

    .left {
      grid-column: 1;
      grid-row: 2;
    }

    .right {
      grid-column: 3;
      grid-row: 2;
    }
  }
}