.zone-players {
  display: grid;
  grid-auto-flow: dense;
}

.zone-table-row {
  grid-column: 1 / -1;
  display: grid;
}

.zone-players {
  .zone-table-row {
    grid-template-columns: .5fr 3fr repeat(8, 1fr);
  }
}

.zone-players.zone-players-mod {
  .zone-table-row {
    grid-template-columns: .5fr .5fr 3fr repeat(8, 1fr);
  }
}

