{{ include('overall_header.html') }}

<div class="zone-container">
  <div id="zone-navigation">
    <div class="zone-block">
      <div class="zone-title">{{ lang('NCZONE_LINKS') }}</div>
      <div class="zone-content zone-menu">
        <div class="zone-menu-block">
          <div class="zone-menu-title">{{ lang('NCZONE') }}</div>
          <ul class="zone-menu">
            <li><a href="{{ U_NCZONE_RMATCHES }}">{{ lang('NCZONE_RMATCHES') }}</a></li>
            <li><a href="{{ U_NCZONE_PMATCHES }}">{{ lang('NCZONE_PMATCHES') }}</a></li>
            <li><a href="{{ U_NCZONE_TABLE }}">{{ lang('NCZONE_TABLE') }}</a></li>
          </ul>
        </div>
{#
        Maybe later ^^
        <div class="zone-menu-block">
          <div class="zone-menu-title">{{ lang('NCZONE_STATISTICS') }}</div>
          <ul class="zone-menu">
            <li><a href="{{ U_NCZONE_ZONE_STATISTICS }}">{{ lang('NCZONE_ZONE_STATISTICS') }}</a></li>
            <li><a href="{{ U_NCZONE_GAME_STATISTICS }}">{{ lang('NCZONE_GAME_STATISTICS') }}</a></li>
            <li><a href="{{ U_NCZONE_BET_STATISTICS }}">{{ lang('NCZONE_BET_STATISTICS') }}</a></li>
            <li><a href="{{ U_NCZONE_HALL_OF_FAME }}">{{ lang('NCZONE_HALL_OF_FAME') }}</a></li>
            <li><a href="{{ U_NCZONE_HALL_OF_SHAME }}">{{ lang('NCZONE_HALL_OF_SHAME') }}</a></li>
          </ul>
        </div>
#}
        <div class="zone-menu-block">
          <div class="zone-menu-title">{{ lang('NCZONE_MENU_INFORMATION') }}</div>
          <ul class="zone-menu">
            <li><a href="{{ U_NCZONE_RULES }}">{{ lang('NCZONE_RULES') }}</a></li>
{#
            <li><a href="{{ U_NCZONE_PENALTIES }}">{{ lang('NCZONE_PENALTIES') }}</a></li>
#}
          </ul>
        </div>
        <div class="zone-menu-block">
          <ul class="zone-menu">
            <li><a href="{{ U_NCZONE_SETTINGS }}">{{ lang('NCZONE_SETTINGS') }}</a></li>
            <li><a href="{{ U_NCZONE_SWITCH_LANG }}">{{ lang('NCZONE_SWITCH_LANG') }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="zone-player-area">
    <div class="zone-block">
      <div class="zone-title">{{ lang('NCZONE_LOGGEDIN') }}</div>
      <div class="zone-content">
        {% if CURRENT_PLAYER_VIEW_LOGIN %}
          {% if not users %}
            <div class="zone-user-table-no-login">
              {{ lang('NCZONE_NO_LOGIN') }}
            </div>
          {% else %}
            <table class="zone-user-table">
              {% for user in users %}
                {# todo depending on login timestamp of user, add class that makes him yellow/red #}
                <tr>
                  <td class="username">{{ user.USERNAME }}</td>
                  <td class="rating">{{ user.RATING }}</td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}

          {% if CURRENT_PLAYER_CAN_LOGIN %}
            <a href="{{ U_ZONE_LOGINOUT }}">
              {% if CURRENT_PLAYER_LOGGED_IN %}
                {{ lang('NCZONE_LOGOUT') }}
              {% else %}
                {{ lang('NCZONE_LOGIN') }}
              {% endif %}
            </a>
          {% endif %}

          {% if CURRENT_PLAYER_CAN_DRAW %}
            <a href="{{ U_ZONE_DRAW }}">{{ lang('NCZONE_DRAW') }}</a>
          {% endif %}

        {% endif %}
      </div>
    </div>
{#
    <div class="zone-block">
      <div class="zone-title">{{ lang('NCZONE_SHOUTBOX') }}</div>
      <div class="zone-content">
        <!-- Shoutbox / mChat -->
      </div>
    </div>
#}
  </div>

  <div id="zone-main">
    <div class="zone-block">
      <div id="zone_infos">
        <div class="zone-title">{{ lang('NCZONE_INFORMATION') }}</div>

        <div class="zone-content">
        </div>
      </div>

      <div class="zone-title">
        {% block title %}
        {% endblock %}
      </div>

      <div class="zone-content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{{ include('overall_footer.html') }}
